*{
    box-sizing: border-box;
    /*font-family: 'Open Sans', sans-serif;*/
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Red Hat Display', sans-serif;*/
}

.dual-navbar {
    max-width: 1224px;
    margin: auto;
}

.dual-navbar a {
    padding: 30px 0px 25px 25px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

.active {
    border-bottom: 2.5px solid #fff
}

.navbar {
    max-width: 1224px;
    margin: auto;
}

.navbar-brand {
    color: #000000  !important;
    font-size: 30px !important;
    font-weight: bold  !important;
    font-family: 'Montserrat'  !important;
    margin-right: 0px !important;
}

.navbar-nav a {
    font-size: 14px !important;
    letter-spacing: 1.1;
}

#navbar_hero_overlay_combined {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #28CCAC;
    z-index: 1;
}

@media (max-width: 920px) {
    #navbar_hero_overlay_combined {
        /*background-image: url(../images/hero_image_bucky.jpg);*/
    }
}

@media (min-width: 921px) {
    #navbar_hero_overlay_combined {
        height: 75vh;
        /*background-image: url(../images/hero_image_bucky.jpg);*/
    }
}

@media (max-width: 920px) {
    #navbar_hero_overlay_combined {
        margin-bottom: 40px;
    }
}

@media (min-width: 921px) {
    #navbar_hero_overlay_combined {
        margin-bottom: 80px;
    }
}

.navbar-nav > a{
    font-weight: bold;
    font-size: 16px;
    font-family: sans-serif;
    margin-left: 25px;
    white-space: nowrap;
}

@media (max-width: 891px){
    .navbar-nav > a {
        margin-left: 5px;
    }
}

@media (min-width: 892px){
    .navbar-nav > a {
    }
}

#sign-in-link {
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 8px 35px 5px 35px;
    text-transform: capitalize;
}

.fa-user {
    position: relative;
    left: -20;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 2px;
}

.vl {
    display: inline;
    border-left: 2px solid #fff;
    height: 50px;
}

.hero-text-section {
    display: flex;
    max-width: 1224px;
    height: inherit;
    margin: auto;
    color: #fff;
}

@media (max-width: 920px) {
    .hero-text-section {
        display: flex;
        flex-flow: wrap;
        height: inherit;
        margin: auto;
    }
}

@media (min-width: 921px) {
    .hero-text-section {
        display: flex;
        align-items: center;
        max-width: 1224px;
        height: inherit;
        margin: auto;
        margin-top: -71px;
    }
}

.hero-text-section > .left-section {
    padding: 25px;
}


@media (max-width: 920px) {
    .hero-text-section > .left-section {
        width: 100%;
    }
}

@media (min-width: 921px) {
    .hero-text-section > .left-section {
        width: 100%;
    }
}

@media (max-width: 920px) {
    .hero-text-section > .right-section {
    }
}

@media (min-width: 921px) {
    .hero-text-section > .right-section {
        width: 50%;
        padding: 15px;
    }
}

@media (max-width: 920px) {
    .hero-text {
        max-width: 100%;
    }
}

@media (min-width: 921px) {
    .hero-text {
        max-width: ;
    }
}

@media (max-width: 920px){
   .hero-text p {
       font-size: 18px;
    } 
}

@media (min-width: 921px){
    .hero-text p {
        font-family: ;
        font-size: 34px;
    }
}

@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}
       display: block;
    }
}


@media (max-width: 492px) {
   .break {
        display: none;
    }  
}

@media (min-width: 493px) {
   .break {
        display: block;
    }  
}

.hero-text > p {
    padding: 15px;
    padding-right: 25px !important;
}

@media (min-width: 775px) and (max-width: 957px) {
   .hero-text > p {
       font-size: 25px;
    }  
}

@media (min-width: 956px) {
   .hero-text > p {
       font-size: 30px;
    }  
}

.hero-text-section > .left-section > h1 {
    font-weight: bold;
    font-size: 32px;
    padding: 15px;
}

@media (min-width: 775px) and (max-width: 957px) {
   .hero-text-section > .left-section > h1 {
       font-size: 75px;
    }  
}

@media (min-width: 956px) {
   .hero-text-section > .left-section > h1 {
       font-size: 95px;
    }  
}

.textarea-section {
    max-width: 1224px;
    display: flex;
    justify-content: center;
    margin: auto;
    z-index: 10;
}

.textarea-left-section {
    width: 100%;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0px 10px 20px grey;
    resize: none;
    border: 0px;
    outline: none;
    z-index: 10;
}

@media (max-width: 920px) {
    .textarea-left-section {
        height: 73px;
    }
}

@media (min-width: 921px) {
    .textarea-left-section {
        width: 496px;
        height: 73px; 
    }
}

.textarea-left-section {
    z-index: 10;
}

@media (max-width: 920px) {
    .textarea-left-section {
        width: 100%;
    }
    .textarea-right-section {
        width: 0%;
    }
}

@media (min-width: 921px) {
    .textarea-left-section {
        width: 50%;
    }
    .textarea-right-section {
        width: 50%;
    }
}

@media (min-width: 921px) {
    .textarea-left-section {
        position: relative;
        top: -115;
        margin: 0px 15px 0px 15px;
    }
}

@media (max-width: 920px) {
    .textarea-left-section {
        position: relative;
        top: -80;
        margin: 0px 15px 0px 15px; 
    }
}

.hero-input {
    width: 80%;
    position: absolute;
    top: 30%;
    left: 5;
    background-color: transparent;
    border: 0;
    outline: 0;
    padding-left: 35px;
}

::-webkit-input-placeholder { /* Edge */
    font-size: 20px;
    color: #909293;
}

:-ms-input-placeholder { /* Internet Explorer */
    font-size: 20px;
    color: #909293;
}

::placeholder {
    font-size: 20px;
    color: #909293;
}

.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 20;
}

.fa-search {
    position: relative;
    right: -25;
    color: #909293;
    font-size: 29px;
}

@media (max-width: 920px) {
    .fa-search {
        right: 0;
    }
}

@media (max-width: 920px) {
    .hero-textarea-big-screen-visible {
        display: none;
    }
}

@media (min-width: 921px) {
    .hero-textarea-big-screen-visible {
        display: block;
    }
}

.category-section {
    padding-bottom: 80px;
}

@media (max-width: 920px) {
    .category-section {
        padding-bottom: 40px;
    }
}

.col-sm-3 p:first-child {
    font-weight: 700;
}

ul {
    padding: 0px;
}

li {
    list-style-type: none;
    font-size: 14px;
    font-weight: 600;
    padding: ;
    cursor: pointer;
    white-space: nowrap;
}

@media (max-width: 574px){
    li {
        display: inline;
        padding: 10px 0px 10px 0px;
    }
    .category-big-screen {
        display: none;
    }
     .category-small-screen {
        padding-top: 40px; 
    }
}

@media (min-width: 575px){
    .category-section-vl, .category-small-screen {
        display: none; 
    }
}

.active-li {
    font-weight: bold;
}

.col-sm-6 > h2 {
    font-size: 60px;
    font-weight: bold;
}

.col-sm-8 > h2 {
    font-size: 60px;
    font-weight: bold;
    padding-top: 40px;
}

@media (max-width: 920px) {
    .col-sm-6 > h2 {
        font-size: 30px;
    }
    .col-sm-8 > h2 {
        font-size: 30px;
    }
}

.col-sm-9 > h1 {
    font-size: 80px;
    font-weight: bold;
    padding-bottom: 40px; 
    border-bottom: 1px solid #959393;
}

@media (max-width: 920px) {
    .col-sm-9 > h1 {
        font-size: 40px;
    }
}

.filter-btn {
    position: absolute;
    right: 50;
    bottom: 0;
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    font-size: 18px;
    font-weight: bold;
    padding: 1px 15px 1px 15px;
    margin-bottom: 8px
}

.filter-btn > img {
    width: 25px;
}

@media (max-width: 920px) {
    .filter-btn {
        font-size: 13px;
        right: 15;
    }
    .filter-btn > img {
        width: 16px;
    }
}

.col-md-4 {
    padding: 15px; 
}

.col-md-4 img {
    width: 100%;
    max-height: 300px;
    border-radius: 18px; 
}

.col-md-4 > p {
    margin: 0px;
    font-weight: 600;
}

.col-md-4 > p:nth-child(2) {
    font-weight: bold;
    margin-top: 5px;
}

.store-name {
    font-size: 20px;
}

.icons img { 
    width: 20px;
    
}

.container-fluid {
    background-color: #f4f3f2;
}

.how-to-section {
    max-width: 1140px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 80px; 
}

@media (max-width: 920px) {
    .how-to-section > .row > .col-sm-6 {
        min-width: 100%;
    }
}

@media (min-width: 921px) {
    .how-to-section > .row  .col-sm-6 {
        width: 50%;
    }
}

@media (max-width: 920px) {
    .how-to-section {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.how-to-section p:first-child {
    font-size: 40px;
    font-weight: bold;
    padding: 0px 0px 40px 0px;
}

@media (max-width: 920px) {
    .how-to-section p:first-child {
        font-size: 35px;
        padding: 0px 0px 20px 0px;
    }
}

.buckky-name {
    color: #28CCAC;
}

.how-to-section img {
    width: 100%;
}

.how-to-section > .row > .col-sm-6:nth-child(1) {
    padding: 0px 50px 50px 50px;
}

.how-to-section > .row > .col-sm-6:nth-child(2) {
    overflow-x: hidden;
    padding: 0px 0px 0px 50px;
}

@media (max-width: 920px) {
    .how-to-section > .row > .col-sm-6:nth-child(1) {
        padding: 0px 25px 0px 0px;
    }

    .how-to-section > .row > .col-sm-6:nth-child(2) {
        padding: 25px;
    }
    
    #step-1 {
        padding: 0px 25px 25px 25px;
    }
}

@media (max-width: 575px) {
    #step-2 {
        order: 2;
    }
}

.steps-controller {
    overflow: hidden;
}
.step {
    font-size: 24px;
    color: #817a7a;
    cursor: pointer;
    margin: 0px 40px 0px 0px;
    white-space: nowrap;
}

.step:last-child {
    margin: 0px;
}

.step-focus {
    font-weight: 500;
    color: #000;
    border-bottom: 2px solid #28CCAC;
}

@media (max-width: 920px) {
    .step {
        font-size: 22px;
    }
}

.step-header {
    font-size: 30px;
    font-weight: bold;
    white-space: nowrap;
    margin: 20px 0px 20px 0px;
}

@media (max-width: 920px) {
    .step-header {
        font-size: 24px;
    }
}

.step-description {
    min-height: 150px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5em;
}

@media (min-width: 921px) {
    .step-img {
        min-width: 535px;
    }
}

.btn-card-left, .btn-card-right {
    position: absolute;
    background-color: #fff;
    padding: 13px;
    z-index: 10;
    border-radius: 50%;
    cursor: pointer;
    transition: all .5s ease-in-out;
    box-shadow: 0px 3px rgb(0, 0 , 0, 0.1);
}

@media (max-width: 920px) {
    .btn-card-left, .btn-card-right{
        /*top: 35%;*/
        display: none !important;
    }
}

.btn-card-right{
    top: 45%;
}

.btn-card-left {
    display: none;
    top: 44.7%;
}

@media (min-width: 1253px) {
    .btn-card-left {
        left: -20;
    }
}

@media (max-width: 1252px) {
    .btn-card-left {
        left: 15;
    }
}

.btn-card-right {
    right: 0;
    margin-right: 15px;
    margin-left: 0px;
} 

.btn-card-right > .arrow-card,
.btn-card-left > .arrow-card {
    border: solid #28CCAC;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    transition: all .5s ease-in-out;
}

.btn-card-left:hover, .btn-card-right:hover {
    background-color: #28CCAC;
    padding: 12px;
}

.btn-card-left:hover > .arrow-card {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
}

.btn-card-right:hover > .arrow-card {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
}

.btn-card-left > .arrow-card {
    margin-left: 25%;
}

.btn-card-right > .arrow-card {
    margin-right: 25%;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.btn-primary {
    font-size: 25px;
    color: #28CCAC;
    font-weight: 700; 
    background-color: #fff;
    border: 0px;
    padding: 20px 25px 20px;
    border-radius: 10px;
}

.btn-primary:hover {
    color: #fff; 
    background-color: #28CCAC;
}

.sign-up-section {
    max-width: 1224px;
    display: flex;
    margin: auto;
}

@media (max-width: 920px) {
    .sign-up-section {
        padding: 40px 0px 80px 0px;
    }
}

@media (min-width: 921px) {
    .sign-up-section {
        padding: 80px 0px 120px 0px;
    }
}

.sign-up-section-left, .sign-up-section-right {
    padding: 25px;
}

@media (max-width: 768px) {
    .sign-up-section-left {
        min-width: 100%;
    }
    
    .sign-up-section-right {
        display: none;    
    }
}

@media (min-width: 769px) {
    .sign-up-section-left, .sign-up-section-right {
        min-width: 50%;
    }
}

.sign-up-section-left > h1 {
    font-size: 70px;
    font-weight: bold;
}

.sign-up-section-left > p {
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
    line-height: 3em;
}

@media (max-width: 920px) {
    .sign-up-section-left > p {
        margin-top: 30px;
        line-height: 1.5em;
    }
}

.sign-up-section-right > img {
    width: 300px;
    float: right;
}

 button {
    position: relative;
    bottom: 0;
    border-radius: 50px;
    border: 0px;
    font-family: 'Montserrat';
    font-size: 30px;
    color: #fff;
    padding: 5px 45px 5px 45px;
}

button:nth-child(5), button:nth-child(6) {
    font-size: 20px;
    font-weight: 600;
    padding: 15px 25px 15px 25px;
    margin-top: 15px;
}

button:nth-child(5) {
    background-color: #28ccac;
}

button:nth-child(5), .sign-up-btn {
    background-color: #28ccac;
}

.learn-more-btn {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    margin-left: 45px;
}

@media (max-width: 920px) {
    button {
        font-size: 16px;
        padding: 15px 20px 15px 20px;
    }
    .learn-more-btn {
        margin-left: 35px;
    }
}

@media (max-width: 415px) {
    .learn-more-btn {
        display: block;
        margin-left: 0px;
    }
}

.sign-up-btn {
    font-size: 30px;
    padding: 5px 45px 5px 45px;
}

@media (min-width: 920px) and (max-width: 970px) {
    .learn-more-btn {
        margin-left: 15px !important;
    }
}

.circles {
    display: flex;
    justify-content: center;
    margin: auto;
}

.circle {
    width: 10px;
    height: 10px;
    background-color: #28CCAC;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.4;
    transition: all 0.5s ease-in-out;
}

.active-circle {
    opacity: 1;
}

.circles div:nth-child(2) {
    margin: 0pc 10px 0px 10px;
}

footer {
    background-color: #40444c;
    color: #fff;
}

.footer-section {
    max-width: 1224px;
    display: flex;
    flex-flow: wrap;
    margin: auto;
}

.footer-section-left {
    width: 40%;
    display: flex;
}

.footer-section-right {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.footer-section p {
    margin-bottom: 5px;
}

@media (max-width: 920px) {
    .footer-section {
        padding: 30px 0 30px 0px;
    }    
}

@media (min-width: 921px) {
    .footer-section {
        padding: 60px 0 60px 0px;
    }
}

.footer-section-1, .footer-section-2, 
.footer-section-3, .footer-section-4 {
    padding: 15;
}

@media (max-width: 768px) {
    .footer-section-1, .footer-section-2, 
    .footer-section-3, .footer-section-4 {
        width: 100%;
    }
}

@media (min-width: 769px) {
    .footer-section-1, .footer-section-2, 
    .footer-section-3, .footer-section-4 {
        
    }
}

.copyright-small-screen-view {
    margin-top: 15px;
}

.copy-sign {
    font-size: 10px;
    vertical-align: top;
}
@media (max-width: 768px) {
    .footer-section-left, .footer-section-right {
        width: 100%;
    }
    .payment-method-section {
        width: 100%;
    }
    .footer-section-2, .footer-section-3,
    .footer-section-4 {
        width: 33.33%;
    }
    .copyright-small-screen-view {
        display: block;
    }
    .copyright-big-screen-view {
        display: none;
    }
}

@media (min-width: 769px) {
    .footer-section-left {
        width: 40%;
    }
    
    .footer-section-right {
        width: 60%;
    }
    
    .payment-method-section {
        width: 100%;
    }
    .footer-section-2, .footer-section-3,
    .footer-section-4 {
        width: 33.33%;
    }
    .copyright-small-screen-view {
        display: none;
    }
    .copyright-big-screen-view {
        display: block;
    }
}

.footer-section-1 > img {
    width: 70px;
    padding: 5px;
}

.footer-branding {
    font-size: 56px;
}

.footer-section-1 > i {
    padding: 5px;
}

@media (max-width: 920px) {
    .footer-section-1 > p:nth-child(9) {
        margin-top: 15px;
    }
}

@media (min-width: 921px) {
    .footer-section-1 > p:nth-child(9) {
        margin-top: 15px;
    }
}

.payment-method-section {
    padding: 15px;
}

.payment-method-section > img {
    width: 90px;
    height: 70px;
    padding: 10px 2px 10px 2px;
    border-radius: 10px;
    
}
















