*{
    box-sizing: border-box;
    /*font-family: 'Open Sans', sans-serif;*/
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Red Hat Display', sans-serif;*/
}

.dual-navbar {
    max-width: 1224px;
    margin: auto;
}

.dual-navbar a {
    padding: 30px 0px 25px 25px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

.active {
    border-bottom: 2.5px solid #fff
}

.navbar {
    max-width: 1224px;
    margin: auto;
}

.navbar-brand {
    color: #000000  !important;
    font-size: 30px !important;
    font-weight: bold  !important;
    font-family: 'Montserrat'  !important;
    margin-right: 0px !important;
}

.navbar-nav a {
    font-size: 14px !important;
    letter-spacing: 1.1;
}

#navbar_hero_overlay_combined {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #28ccac;
    z-index: 1;
}

@media (max-width: 920px) {
    #navbar_hero_overlay_combined {
        /*background-image: url("../images/hero_image_bucky.d36dfb9ac5af.jpg");*/
    }
}

@media (min-width: 921px) {
    #navbar_hero_overlay_combined {
        height: 75vh;
        /*background-image: url("../images/hero_image_bucky.d36dfb9ac5af.jpg");*/
    }
}

@media (max-width: 920px) {
    #navbar_hero_overlay_combined {
        margin-bottom: 40px;
    }
}

@media (min-width: 921px) {
    #navbar_hero_overlay_combined {
        margin-bottom: 80px;
    }
}

.navbar-nav > a{
    font-weight: bold;
    font-size: 16px;
    font-family: sans-serif;
    margin-left: 25px;
    white-space: nowrap;
}

@media (max-width: 891px){
    .navbar-nav > a {
        margin-left: 5px;
    }
}

@media (min-width: 892px){
    .navbar-nav > a {
    }
}

#sign-in-link {
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 8px 35px 5px 35px;
    text-transform: capitalize;
}

.fa-user {
    position: relative;
    left: -20;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 2px;
}

.vl {
    display: inline;
    border-left: 2px solid #fff;
    height: 50px;
}

.hero-text-section {
    display: flex;
    max-width: 1224px;
    height: inherit;
    margin: auto;
    color: #fff;
}

@media (max-width: 920px) {
    .hero-text-section {
        display: flex;
        flex-flow: wrap;
        height: inherit;
        margin: auto;
    }
}

@media (min-width: 921px) {
    .hero-text-section {
        display: flex;
        align-items: center;
        max-width: 1224px;
        height: inherit;
        margin: auto;
        margin-top: -71px;
    }
}

.hero-text-section > .left-section {
    padding: 25px;
}


@media (max-width: 920px) {
    .hero-text-section > .left-section {
        width: 100%;
    }
}

@media (min-width: 921px) {
    .hero-text-section > .left-section {
        width: 50%;
    }
}

@media (max-width: 920px) {
    .hero-text-section > .right-section {
        width: 100%;
        padding: 15px;
    }
}

@media (min-width: 921px) {
    .hero-text-section > .right-section {
        width: 50%;
        padding: 15px;
    }
}

@media (max-width: 920px) {
    .hero-text {
        max-width: 100%;
    }
}

@media (min-width: 921px) {
    .hero-text {
        max-width: 500px;
    }
}

@media (max-width: 920px){
   .hero-text p {
       font-size: 18px;
    } 
}

@media (min-width: 921px){
    .hero-text p {
        font-family: ;
        font-size: 24px;
    }
}

#big-screen > img {
    width: 240px;
    height: 500px;
    float: right;
    padding-right: 25px; 
}

#small-screen > img {
    width: 233px;
    height: 500px;
    float: right;
    padding: 15px;
}

@media (max-width: 920px){
   #small-screen {
       display: block;
       padding: 0px;
    }
    
    #big-screen {
        display: none;
    }
}

@media (min-width: 921px){
    #big-screen {
        display: block;
    }
    #small-screen {
       display: none;
    }
}
.textarea-section {
    max-width: 1224px;
    display: flex;
    justify-content: center;
    margin: auto;
    z-index: 10;
}

.textarea-left-section {
    width: 100%;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0px 10px 20px grey;
    resize: none;
    border: 0px;
    outline: none;
    z-index: 10;
}

@media (max-width: 920px) {
    .textarea-left-section {
        height: 73px;
    }
}

@media (min-width: 921px) {
    .textarea-left-section {
        width: 496px;
        height: 73px; 
    }
}

.textarea-left-section {
    z-index: 10;
}

@media (max-width: 920px) {
    .textarea-left-section {
        width: 100%;
    }
    .textarea-right-section {
        width: 0%;
    }
}

@media (min-width: 921px) {
    .textarea-left-section {
        width: 50%;
    }
    .textarea-right-section {
        width: 50%;
    }
}

@media (min-width: 921px) {
    .textarea-left-section {
        position: relative;
        top: -115;
        margin: 0px 15px 0px 15px;
    }
}

@media (max-width: 920px) {
    .textarea-left-section {
        position: relative;
        top: -80;
        margin: 0px 15px 0px 15px; 
    }
}

label {
    color: #909293;
    letter-spacing: 1.2;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 0px 0px 40px;
}

.hero-input {
    width: 80%;
    position: absolute;
    bottom: 10;
    left: 5;
    background-color: transparent;
    border: 0;
    outline: 0;
    padding-left: 35px;
}

.search-btn {
    position: absolute;
    top: 10;
    right: 10;
    width: 52;
    height: 52;
    background-color: #28ccac;
    border: 0px;
    border-radius: 50%;
    z-index: 20;
}

.fa-search {
    font-size: 19px;
}

@media (max-width: 920px) {
    .hero-textarea-big-screen-visible {
        display: none;
    }
}

@media (min-width: 921px) {
    .hero-textarea-big-screen-visible {
        display: block;
    }
}

::-webkit-input-placeholder { /* Edge */
    padding: 8px 0px 0px 0px;
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

:-ms-input-placeholder { /* Internet Explorer */
    padding: 8px 0px 0px 0px;
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

::placeholder {
    padding: 8px 0px 0px 0px;
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

@media (max-width: 920px) {
   .big-screen {
       display: none;
    }
    .small-screen {body {
	padding-top:70px;
}


@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}
       display: block;
    }
}

@media (min-width: 921px) {
   .big-screen {
       display: block;
    }
    .small-screen {
       display: none;
    }
}

.hero-text-section > .left-section > h1 {
    font-weight: bold;
    padding: 15px;
}

.hero-text > p {
    padding: 15px;
    padding-right: 25px !important;
}

@media (max-width: 920px) {
   .hero-text-section > .left-section > h1 {
       font-size: 40px;
    }  
}

@media (min-width: 921px) {
   .hero-text-section > .left-section > h1 {
       font-size: 72px;
    }  
}


.vertical-section {
    position: fixed;
    top: 50%;
    right: 0;
    white-space: nowrap;
    font-weight: bold;
    transform: rotate(-90deg);
    cursor: pointer;
    padding: 0px 12px 0px 12px;
    z-index: 101;
}

@media (max-width: 920px) {
    .vertical-section {
        margin-right: -48px;
        font-size: 18px;
    }  
}

@media (min-width: 921px) {
   .vertical-section {
        margin-right: -58px;
        font-size: 26px;
    }   
}

.vertical-section > p {
    color: #fff;
    position: relative;
    bottom: -15;
    padding: 0px 15px 0px 15px;
    background-color: #40444c;
    border-radius: 8px 8px 0px 0px;
}

.slider {
    position: relative;
    display: flex;
    height: 355px;
    margin-left: auto;
    z-index: 100;
    overflow-x: hidden;
}

@media (max-width: 920px) {
    .slider {
        padding: 40px 0px 40px 0px;
    }
}

@media (min-width: 921px) {
    .slider {
        padding: 80px 0px 80px 0px;
    }
}

.slider-card:nth-child(2) {
    background-image: url("../images/accesories.660f3bc0031e.jpeg");
}

.slider-card:nth-child(3) {
    background-image: url("../images/apparel.2e540c8b79bb.jfif");
}

.slider-card:nth-child(4) {
    background-image: url("../images/tires.28b8dbac0a3d.jpg");
}

.slider-card:nth-child(5) {
    background-image: url("../images/beauty_and_health.c68cddd4aff2.jfif");
}

.slider-card:nth-child(6) {
    background-image: url("../images/accesories.660f3bc0031e.jpeg");
}

.slider-card:nth-child(7) {
    background-image: url("../images/apparel.2e540c8b79bb.jfif");
}

.slider-card:nth-child(8) {
    background-image: url("../images/tires.28b8dbac0a3d.jpg");
}

.slider-card:nth-child(9) {
    background-image: url("../images/beauty_and_health.c68cddd4aff2.jfif");
}

.slider-card:nth-child(10) {
    background-image: url("../images/accesories.660f3bc0031e.jpeg");
}


.slider-card:nth-child(11) {
    background-image: url("../images/apparel.2e540c8b79bb.jfif");
}

.slider-card:nth-child(12) {
    background-image: url("../images/tires.28b8dbac0a3d.jpg");
}

.slider-card:nth-child(13) {
    background-image: url("../images/beauty_and_health.c68cddd4aff2.jfif");
}

.slider-card:nth-child(14) {
    background-image: url("../images/accesories.660f3bc0031e.jpeg");
}

.slider-card {
    position: relative;
    min-width: 152px !important;
    height: 184;
    background-color: #fff;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    /*box-shadow: 0px 10px 20px grey;*/
    border-radius: 10px;
    transition: all .5s ease-in-out;
}

@media (min-width: 769px) {
    .slider > .slider-card {
        left: 350px;
    }
}

@media (max-width: 768px) {
    .slider > .slider-card {
        left: 20px;
    }
}

.slider-card:hover {
    cursor: pointer;
    bottom: 5px;
}

.card-content {
    height: inherit;
    position: relative;
    top: 0;
    padding: 15px;
    line-height: 1.1;
    color: #fff;
}

@media (max-width: 1100px) {
    .slider-card:nth-child(4) {display: none;}
    .slider-card:nth-child(6) {display: none;}
}

.btn-card-left, .btn-card-right{
    position: absolute;
    background-color: #fff;
    padding: 13px;
    z-index: 10;
    border-radius: 50%;
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin-left: 15px;
    box-shadow: 0px 3px rgb(0, 0 , 0, 0.1);
}

@media (max-width: 920px) {
    .btn-card-left, .btn-card-right{
        top: 35%;
    }
}

@media (min-width: 921px) {
    .btn-card-left, .btn-card-right{
        top: 45%;
    }
}

.btn-card-right {
    position: absolute;
    right: 0;
    margin-right: 15px;
    margin-left: 0px;
} 

.btn-card-right > .arrow-card,
.btn-card-left > .arrow-card {
    border: solid #28CCAC;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    transition: all .5s ease-in-out;
}

.btn-card-left:hover, .btn-card-right:hover {
    background-color: #28CCAC;
    padding: 12px;
}

.btn-card-left:hover > .arrow-card {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
}

.btn-card-right:hover > .arrow-card {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
}

.btn-card-left > .arrow-card {
    margin-left: 25%;
}

.btn-card-right > .arrow-card {
    margin-right: 25%;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.process-section-overlay {
    background-color: #28ccac;
    height: 935px;
    color: #fff;
}

.process-section {
    display: flex;
    margin: auto;
    margin-top: -150px;
    max-width: 1000px;
    height: auto;
    background-color: #28ccac; 
    padding-top: 250px;
    overflow: hidden;
}

.process-section-left {
    width: 40%;
    font-weight: bold;
    padding: 15px
}

@media (max-width: 768px) {
    .process-section-left {font-size: 36px;}
}

@media (min-width: 769px) {
    .process-section-left {font-size: 40px;}
}

.process-section-right {
    display: flex;
    align-items: center;
    width: 60%;
    padding: 15px;
}

.step-btn {
    display: block;
    background-color: transparent;
    border: none;
    transition: all 1s ease-in-out;
}

.hide {
    height: 0;
    /*transition: all 2s ease-in-out;*/
}

.controller {
    white-space: nowrap;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: bold;
    padding: 15px;
}

.controller > button > p {
    color: #fff;
}

.process-section-right {
    margin-top: -500px;
}

.process-section-card {
    position: relative;
    padding: 15px;
    margin: 15px;
    border-radius: 50px;
    box-shadow: 0px 10px 20px grey;
    transition: all 2s ease-in-out;
}

.process-section-card > h2 {
    font-weight: bold;
}


.reasons-section-overlay {
    position: relative;
    background-color: #fff;
    margin-top: -440px;
}

@media (max-width: 920px) {
    .reasons-section-overlay {
        padding: 70px 0px 70px 0px;
    }
}

@media (min-width: 921px) {
    .reasons-section-overlay {
        padding: 140px 0px 140px 0px;
    }
}


.reasons-section-overlay > h1 {
    text-align: center;
    font-weight: bold;
}

@media (min-width: 921px) {
    .reasons-section-overlay > h1 {
        font-size: 56px;
    }
}


.reasons-section {
    max-width: 1224px;
    display: flex;
    margin: auto;
    margin-top: 50px;
}


.reason-1, .reason-2, .reason-3 {
    background-color: #fff;
    padding: 25px;
}

@media (max-width: 768px) {
    .reasons-section {
        flex-flow: wrap; 
    }
    .reason-1, .reason-2, .reason-3 {
        min-width: 100%;
    }
}

@media (min-width: 769px) {
    .reason-1, .reason-2, .reason-3 {
        min-width: 33.33%;
    }
}


.reason-1 > img, .reason-2 > img, .reason-3 > img {
    width: 20%;
    margin-bottom: 20px;
}

.reason-1 > h6, .reason-2 > h6, .reason-3 > h6 {
    font-weight: bold;
}

.stats-section-overlay {
    position: relative;
    background-color: #28ccac;
    padding: 25px;
}

@media (max-width: 920px) {
    .stats-section-overlay {
        padding: 30px 0px 30px 0px;
        margin: 0px 0px 30px 0px;
    }
}

@media (min-width: 921px) {
    .stats-section-overlay {
        padding: 60px 0px 60px 0px;
        margin: 0px 0px 60px 0px;
    }
}


.stats-section {
    max-width: 1224px;
    display: flex;
    margin: auto;
    margin-top: 50px;
}

.stats-1, .stats-2, .stats-3 {
    width: 33.33%;
    padding: 25px;
}

.stats-1 > img, .stats-2 > img, .stats-3 > img {
    width: 20%;
    margin-bottom: 20px;
}

.stats-1 > h1, .stats-2 > h1, .stats-3 > h1 {
    color: #fff;
    font-weight: bold;
    text-align: center;
}

@media (min-width: 921px) {
    .stats-1 > h1, .stats-2 > h1, .stats-3 > h1 {
        font-size: 56px;
    }
    .stats-1 > p, .stats-2 > p, .stats-3 > p {
        font-size: 25px;
    }
}


.stats-1 > p , .stats-2 > p, .stats-3 > p {
    color: #fff;
    text-align: center;
    
}

.credit-score-section {
    max-width: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
}

.arrow {
  border: solid #28ccac;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 7px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.credit-score-section-overlay {
    position: relative;
    background-color: #fff;
}

@media (max-width: 920px) {
    .credit-score-section-overlay {
        padding: 40px 15px 40px 15px;
    }
}

@media (min-width: 921px) {
    .credit-score-section-overlay {
        padding: 80px 15px 80px 15px;
    }
}


.credit-score-section-overlay > h1 {
    text-align: center;
    font-weight: bold;
}

@media (min-width: 921px) {
    .credit-score-section-overlay > h1 {
        font-size: 56px;
    }
}

.submit-btn {
    position: absolute;
    right: ; 
}

.credit-score-section-overlay > h3 {
    text-align: center;
    margin-bottom: 50px;
}

.credit-score-section > span {
    width: 100px;
    position: relative;
    left: 5;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 3.5px 20px #909c9c;
    border: 1px;
    border-radius: 9px;
    z-index: 1;
}

@media (max-width: 768px) {
    .credit-score-section > span {
        width: 80px;
        font-size: 25px;
        padding: 10px 10px 0px 10px;
    }
}

@media (min-width: 768px) {
    .credit-score-section > span {
        width: 100px;
        font-size: 30px;
        padding: 7px 10px 0px 10px;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.credit-score-section > input {
    width: 100%;       
    height: 60px;
    font-weight: bold;
    box-shadow: 0px 3.5px 20px #909c9c;
    border: 1px;
    outline: none;
    resize: none;
    padding-left: 15px; 
}

@media (max-width: 768px) {
    .credit-score-section > input {
        font-size: 25px;
    }
}

@media (min-width: 768px) {
    .credit-score-section > input {
       font-size: 30px;
    }
}

.credit-score-section > button {
    width: 100px;
    height: 60px;
    position: absolute;
    right: -3;
    background-color: #40444c;
    z-index: 1;
    border-radius: 9px;
    border: none;
    outline: none;
}

@media (max-width: 768px) {
    .credit-score-section > button {
        width: 80px;
    }
}

@media (min-width: 768px) {
    .credit-score-section > button {
        width: 100px;
    }
}

button:hover, button:focus, button:active {
    outline: none;
}

#credit-score-para {
    text-align: center;
    font-weight: bold;
    margin-top: 45px;
}

@media (max-width: 920px) {
    #credit-score-para {
        font-size: 18px;
    }
}

@media (min-width: 921px) {
    #credit-score-para {
        font-size: 25px;
    }
}


#credit-score-para > span {
    text-decoration: underline;
}

.working-mechanism-heading-and-para {
    max-width: 1224px;
    margin: auto;
}

@media (max-width: 920px) {
    .working-mechanism-heading-and-para {
        padding: 30px 15px 0px 15px;
    }
}

@media (min-width: 921px) {
    .working-mechanism-heading-and-para {
        padding: 60px 15px 0px 15px;
    }
}


.working-mechanism-heading-and-para > h1 {
    padding-bottom: 15px;
    font-weight: bold;
}

@media (max-width: 920px) {
    .working-mechanism-heading-and-para > p {
        width: 100%;
    }
}

@media (min-width: 921px) {
    .working-mechanism-heading-and-para > p {
        width: 80%;
    }
}

.working-mechanism-section {
    max-width: 1224px;
    display: flex;
    margin: auto;
}

@media (max-width: 920px) {
    .working-mechanism-section {
        padding: 40px 0px 40px 0px;
    }
}

@media (min-width: 921px) {
    .working-mechanism-section {
        padding: 80px 0px 80px 0px;
    }
}

@media (max-width: 768px) {
    .working-mechanism-section {
        flex-flow: wrap;
    }
}

.working-mechanism-1, .working-mechanism-2, .working-mechanism-3 {
    position: relative;
    width: 33.33%;
    min-height: 450px;
    padding: 25px;
}

@media (max-width: 768px) {
    .working-mechanism-2, .working-mechanism-3 {
        margin-top: 40px;
    }
}

@media (max-width: 920px) {
    .working-mechanism-1, .working-mechanism-2, .working-mechanism-3 {
        width: 100%;
    }
}

@media (min-width: 921px) {
    .working-mechanism-1, .working-mechanism-2, .working-mechanism-3 {
        width: 33.33%;
    }
}

.working-mechanism-1 > img, .working-mechanism-2 > img, .working-mechanism-3 > img {
    width: 100%;
    margin-bottom: 20px;
}

.working-mechanism-1 > h6, .working-mechanism-2 > h6, .working-mechanism-3 > h6 {
    font-weight: bold;
}

.working-mechanism-1 > button, .working-mechanism-2 > button,
.working-mechanism-3 > button {
    position: absolute;
    bottom: 0;
    background-color: transparent;
    border: 1px solid #cfcfcf;
    padding: 5px 15px 5px 15px;
    font-weight: bold;
}

@media (min-width: 369px) and (max-width: 768px) {
    .working-mechanism-1 > p, .working-mechanism-2 > p, .working-mechanism-3 > p {
        margin-bottom: 100px;
    }
}

.sign-up-section {
    max-width: 1224px;
    display: flex;
    margin: auto;
}

@media (max-width: 920px) {
    .sign-up-section {
        padding: 40px 0px 80px 0px;
    }
}

@media (min-width: 921px) {
    .sign-up-section {
        padding: 80px 0px 160px 0px;
    }
}


.sign-up-section-left, .sign-up-section-right {
    padding: 25px;
}

@media (max-width: 768px) {
    .sign-up-section-left {
        min-width: 100%;
    }
    
    .sign-up-section-right {
        display: none;    
    }
}

@media (min-width: 769px) {
    .sign-up-section-left, .sign-up-section-right {
        min-width: 50%;
    }
}

.sign-up-section-left > h1 {
    font-size: 56px;
    font-weight: bold;
}

.sign-up-section-left > p {
    margin-top: 10px; 
}

.sign-up-section-right > img {
    width: 30%;
    float: right;
}

.sign-up-section-left > button {
    position: relative;
    bottom: 0;
    background-color: #28ccac;
    border-radius: 50px;
    border: 0px;
    font-family: 'Montserrat';
    font-size: 30px;
    color: #fff;
    padding: 5px 45px 5px 45px;
    margin-top: 15px;
}

footer {
    background-color: #40444c;
    color: #fff;
}

.footer-section {
    max-width: 1224px;
    display: flex;
    flex-flow: wrap;
    margin: auto;
}

.footer-section-left {
    width: 40%;
    display: flex;
}

.footer-section-right {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.footer-section p {
    margin-bottom: 5px;
}

@media (max-width: 920px) {
    .footer-section {
        padding: 30px 0 30px 0px;
    }    
}

@media (min-width: 921px) {
    .footer-section {
        padding: 60px 0 60px 0px;
    }
}

.footer-section-1, .footer-section-2, 
.footer-section-3, .footer-section-4 {
    padding: 15;
}

@media (max-width: 768px) {
    .footer-section-1, .footer-section-2, 
    .footer-section-3, .footer-section-4 {
        width: 100%;
    }
}

@media (min-width: 769px) {
    .footer-section-1, .footer-section-2, 
    .footer-section-3, .footer-section-4 {
        
    }
}

.copyright-small-screen-view {
    margin-top: 15px;
}

.copy-sign {
    font-size: 10px;
    vertical-align: top;
}
@media (max-width: 768px) {
    .footer-section-left, .footer-section-right {
        width: 100%;
    }
    .payment-method-section {
        width: 100%;
    }
    .footer-section-2, .footer-section-3,
    .footer-section-4 {
        width: 33.33%;
    }
    .copyright-small-screen-view {
        display: block;
    }
    .copyright-big-screen-view {
        display: none;
    }
}

@media (min-width: 769px) {
    .footer-section-left {
        width: 40%;
    }
    
    .footer-section-right {
        width: 60%;
    }
    
    .payment-method-section {
        width: 100%;
    }
    .footer-section-2, .footer-section-3,
    .footer-section-4 {
        width: 33.33%;
    }
    .copyright-small-screen-view {
        display: none;
    }
    .copyright-big-screen-view {
        display: block;
    }
}

.footer-section-1 > img {
    width: 70px;
    padding: 5px;
}

.footer-branding {
    font-size: 56px;
}

.footer-section-1 > i {
    padding: 5px;
}

@media (max-width: 920px) {
    .footer-section-1 > p:nth-child(9) {
        margin-top: 15px;
    }
}

@media (min-width: 921px) {
    .footer-section-1 > p:nth-child(9) {
        margin-top: 15px;
    }
}

.payment-method-section {
    padding: 15px;
}

.payment-method-section > img {
    width: 90px;
    height: 70px;
    padding: 10px 2px 10px 2px;
    border-radius: 10px;
    
}

.hotline-section {
    display: flex;
    align-items: center;
}

.hotline-section-left {
    width: 50%;
}

.hotline-section-right {
    width: 50%;
    font-size: 30px;
    font-weight: bold;
}

.hotline-section-left > img:last-child {
    width: 100px;
    height: 110px;
    margin-top: 10px;
    padding: 10px 2px 10px 2px;
    
}















